@import "../../Assets/Styles/global.css";

.header { 
    align-items: center;
    background-color: var(--neutral-color-dark);
    display: flex;
    height: 5rem;
    justify-content: space-between;
    width: 100%;
}

.header span {
    color: var(--primary-color);
    width: 4rem;
}

.header img {
    height: 2.4rem;
    width: 2rem;
}

/* .input-header {
    background:  var(--neutral-color);
    height: 25px;
    margin: 8px 8px 8px 8px; 
    width: 100%;
}  */

/* .input-header::placeholder {
    color: var(--neutral-color-light);
    font-family: Open sans;
    padding: 8px;
    font-size: 16px;
    
} */

.logo-input {
    background-color: var(--neutral-color);
    border-radius: 0.5rem;
    border-style:solid;
    border:none;
    color: var(--neutral-color-light);
    flex-grow: 2;
    font-family: "Open Sans";
    font-size: 1.5rem;
    font-weight: 300;
    height: 3.4rem;
    
}

.logo-input::placeholder{
    padding: 1rem;
    color: var(--neutral-color-light);
}
.home-title {
    color: var(--primary-color);
    font-family: "Ubuntu";
    font-size: 1rem;
    /* margin: -0.5rem; */
    padding: 0;
    overflow: hidden;
}

.menu-logo {
    margin: 3rem 2rem;
    text-align: center;
}

.header-icons, .header-icons * {
    margin: 0 1rem;
}


/* 
@media screen and (max-width: 720px) {
    
}  */


    

