@import "../../styles/global.css";

.header { 
    background-color: var(--neutral-color-dark);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header span {
    color: var(--primary-color);
    width: 40px;
}

.header img {
    width: 18.52px;
    height: 27px;
    margin: 8px 8px 8px 18px;
}

.input-header {
    width: 100%;
    height: 25px;
    background:  var(--neutral-color);
    margin: 8px 8px 8px 8px; 
} 

.input-header::placeholder {
    color: var(--neutral-color-light);
    font-family: Open sans;
    padding: 8px;
    font-size: 16px;
    
}

/* 
@media screen and (max-width: 720px) {
    
}  */


    

